body {
    background: rgb(204,204,204);
    margin-top: 8px;
}

page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

page[size="A4"] {
    max-width: 21cm;
}

@media only screen and (min-width: 21cm) {
    page[size="A4"] {
        max-width: 21cm;
        min-height: 29.7cm;
    }
}

@media print {
    page[size="A4"] {
        width: 21cm;
        height: 29.7cm;
    }
    body, page[size="A4"] {
        margin: 0;
        box-shadow: 0;
    }
}

.row{
    width: 95%;
    margin: 0 auto;
}
