@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,700);
$font-stack: "ubuntu",sans-serif;

// Header 1
$header-bg-1: #479099;
$header-border-1: #384458;
$header-1-color: #FFF;

// Header 2
$header-bg-2: #3e787c;
$header-2-color: #FFF;

// Main Content
$heading-color: #384458;
$main-text-color-1: #000000;
$skill-yes: $heading-color;
$skill-no: #afb4bc;
$main-text-color-2: lighten($main-text-color-1, 30%);
